button[type=button] {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
button[type=button]:hover {
    background-color: #008CBA;
    color: white;
}
input {
    width: 20%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #008CBA;
	color:#00ff00;
	font-weight: bold;
}